<app-navbar></app-navbar>

<div class="login-box">
  <h2>{{titulo | uppercase}}</h2>
  
  <form [formGroup]="empleadoForm" (ngSubmit)="agregarEmpleado()">
    <div class="user-box">
      <input type="text" formControlName="nombre" name="" required="">
      <label>NOMBRE</label>
    </div>
    <div class="user-box">
      <input type="text" formControlName="puesto" name="" required="">
      <label>PUESTO</label>
    </div>
    <div class="user-box">
      <input type="number" formControlName="edad" name="" required="">
      <label>EDAD</label>
    </div>
    <a class=" float-start">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <button class=" float-start" routerLink="/listar-empleado">Volver</button>
    </a>
    <a class=" float-end">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <button type="submit" [disabled]="empleadoForm.invalid">Aceptar</button>
    </a>


    
  </form>
</div>