
<app-navbar></app-navbar>

<p>Restaurando Tecnología <span>FIXTECH</span> &mdash; Reparando Confiabilidad &mdash;</p>

<P id="servicios" class="services-title"><span>SERVICIOS</span></P>
<section class="section" >

    <div class="container-services">
        <div class="card card1">
            <h1 class="h1">PANTALLAS</h1>
        </div>
        <div class="card card2">
            <h1 class="h1">ACCESORIOS</h1>
        </div>
        <div class="card card3">
            <h1 class="h1">CARGADORES</h1>
        </div>
        <div class="card card4">
            <h1 class="h1">SOFTWARE</h1>
        </div>
    </div>
</section>

<P class="footer-title"><span>CONTACTANOS</span></P>
<div class="redes" id="redes">
        <div class="container">
            <i class="fa fa-instagram" id="instagram"></i>
            <i class="fa fa-twitter" id="twitter"></i>
            <i class="fa fa-youtube" id="youtube"></i>
            <i class="fa fa-facebook-square" id="facebook"></i>
          </div>
    </div>